# Ignore all __pycache__ directories
__pycache__/

# Ignore szu_hospital directory
psg/szu_hospital/
psg/20240620/
psg/20240925/
psg/20240927/

# Ignore all .pyc files
*.pyc

# Ignore .DS_Store files
.DS_Store

# Ignore all .pkl files
*.pkl

# Ignore all .edf files
*.edf

# Ignore all .csv files
*.csv
# Ignore all .csv files
*.XML

*.nosync
*.pt.nosync
*.h5